@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
body {
    background-color: black;
    margin: 0;
    padding: 0;
    width: 100%;
}

.header {
    width: 1152px;
    height: 580px;
    background-color: #FBFBFB;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 73px;
    color: #000000;
    margin: 0;
    padding: 0;
}

p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    /* 700 */
    color: #4A5568;
    margin: 0;
    padding: 0;
}

.headerNav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #FFFFFF;
    padding-left: 83px;
    padding-right: 93px;
    height: 85px;
}

.product {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 467px;
    padding-left: 127px;
    padding-right: 93px;
    height: 467px;
}

.nav {
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 578px;
}

.logo {
    font-family: 'Inter';
    font-style: bold;
    font-weight: 700;
    font-size: 20px;
    color: #000000;
    align-self: center;
}

.navitem {
    text-decoration: none;
}

.main-nav li {
    display: inline-block;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 36px;
    color: #000000;
}

.main-nav {
    display: flex;
    justify-content: space-around;
}

.main-nav a {
    text-decoration: none;
}

.search {
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
    cursor: pointer;
}

.navBurger {
    justify-content: end;
}

.input {
    background-color: #FFFFFF;
    border: #FFFFFF;
    font-family: 'Inter';
    font-style: regular;
    font-size: 17px;
    line-height: 36px;
    /* 700 */
    color: #4A5568;
    display: inline-block;
    align-items: center;
    justify-content: space-around;
}

.promo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
    gap: 19px;
}

.imgMain {
    width: 476px;
    height: 323px;
}

.imgAside {
    display: flex;
    align-items: center;
    justify-content: right;
}

.cupCoffee {
    position: absolute;
}

@media screen and (max-width: 1280px) {}